* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#wrapper {
  width: 100%;
  height: 100vh;
}

.main {
  width: 400px;
  background-color: #fff;
  margin: 100px auto;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px #0000002c;
}

.navbar {
  width: 400px;
  padding: 10px 10px;
  background-color: rgba(255, 235, 205, 0.062);
  box-shadow: 0px 0px 10px #2708081b;
}

.navbar h2 {
  text-align: center;
  padding: 3px 0;
}

.navbar p {
  font-size: 12px;
}



.item-deatil {
  width: 316px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 9px auto;
 
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0000002c;
}

.item-deatil:hover{
    border: 2px solid rgba(137, 43, 226, 0.358);
}

.item-deatil .icon i.ri-close-circle-fill {
  font-size: 52px;
  color: red;
}

.item-deatil .icon i.ri-wallet-fill {
  color: yellow;
  font-size: 40px;
}

.item-deatil .icon i.ri-profile-fill {
  color: green;
  font-size: 38px;
}

.item-deatil .icon i.ri-checkbox-circle-fill {
  color: blue;
  font-size: 40px;
}

.item-deatil .order p {
  font-size: 14px;
}

.item-deatil .order h3 {
    padding: 3px 0;
  }
