html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(255, 228, 196, 0.475);
}

.slider {
    margin-bottom: 20px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #ff4b1f;
    background: -webkit-linear-gradient(to right, #ff9068, #ff4b1f);
    background: linear-gradient(to right, #ff9068, #ff4b1f);
    color: #fff;

}

.slider-card {
    background-color: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgba(206, 191, 191, 0.493);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-next {
    position: absolute;
    top: (50%);
    right: 0;
    opacity: 1;
    font-size: 40px !important;
    z-index: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: (50%);
    left: 0;
    opacity: 1;
    font-size: 40px !important;
    z-index: 1;
}